<!-- <div  style="background-color: gray;width: 25%;padding: 20px;margin-left: 15px;margin-top: 20px;">
  <span style="color: white;"><h4>Movie Book</h4></span><br><input class="form-control" type='text' [(ngModel)]="num" /><br>
</div>
  <div [ngSwitch]="num" style="margin-top: 20px;margin-left: 15px;width: 25%;padding: 20px">
    <div *ngSwitchCase="'Moon'"><h5>{{num}}</h5><strong style="color: gray;">Released on 2013</strong><br>
    Moon is a science fiction film directed by Duncan Jones(in his directional debut) and written by Nathan Parker
    from a story Jones. fiction film.
    </div>
  
    <div *ngSwitchCase="'Gravity'"><h5>{{num}}</h5><strong style="color: gray;">Released on 2013</strong><br>
      Gravity is a 2013 science fiction thriller film directed by Alfonso Cuaron, who also co-wrote co-edited, and produced the film</div>
    
  </div> -->

  <table >
    <thead>
    <tr>
      
      <th><h2 style="color: #8142f5;">Check Exam Hall</h2></th>
    </tr>
    </thead>
    <tbody>
      
       <input class="form-control" type="text" (focus)="addInput()" (focusout)="addNew($event)" placeholder="Enter The Name">
      
        <tr *ngFor="let row of dynamicInputRows|slice:0:1"><br>
  
        <input class="form-control" type="text" (focus)="addInput()" (focusout)="addNew($event)" placeholder="Enter The Roll No" >
         
        
      </tr>
      <tr *ngFor="let row of dynamicInputRows|slice:1:2"><br>
  
        <input class="form-control" type="text" (focus)="addInput()" (focusout)="addNew($event)" placeholder="Enter The Department" [(ngModel)]="num" >
         
        
      </tr>
      
    </tbody>
  </table>
  <br>
  <button type="button" class="btn btn-success" (click)="ShowDiv('A')">Submit</button>
  
  
  <div *ngIf="currDiv == 'A'" style="border: grey 1px solid; padding: 20px;width: 30%; margin-top: 20px;">
    
    
      <div  *ngFor="let row of dynamicRows | slice:0:1">
       <strong><h4>{{ row }}</h4></strong>
  </div>
  <div  *ngFor="let row of dynamicRows | slice:1:2">
    <h5 style="color: grey;">{{ row }}</h5>
  </div>
  <div *ngFor="let row of dynamicRows | slice:2:3">
    Hi&nbsp;<span *ngFor="let row of dynamicRows | slice:0:1">{{ row }}</span> you are from {{row}}
  </div>
  <div [ngSwitch]="num">
    <div *ngSwitchCase="'IT'">Hall No :306<br> Seat No : 5</div>
    <div *ngSwitchCase="'Mech'">Hall No : 305<br> Seat No : 4</div>
  </div>
  </div>
  
  
  
  
  
  